hex-alert:not(:defined),
hex-autocomplete:not(:defined),
hex-card:not(:defined),
hex-divider:not(:defined),
hex-input:not(:defined),
hex-listbox:not(:defined),
hex-menu-item:not(:defined),
hex-option:not(:defined),
hex-quote:not(:defined),
hex-section:not(:defined),
hex-select:not(:defined),
hex-skeleton:not(:defined),
hex-textarea:not(:defined) {
  display: block;
}

hex-avatar:not(:defined),
hex-button:not(:defined),
hex-checkbox:not(:defined),
hex-chexagon:not(:defined),
hex-chip:not(:defined),
hex-code:not(:defined),
hex-icon:not(:defined),
hex-kbd:not(:defined),
hex-logo:not(:defined),
hex-radio:not(:defined),
hex-spinner:not(:defined),
hex-spoiler:not(:defined),
hex-status-pill:not(:defined),
hex-switch:not(:defined),
hex-tag:not(:defined),
hex-username:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
}

hex-page:not(:defined) {
  display: block;
  min-height: 100vh;
}

hex-prose:not(:defined),
hex-radio-group:not(:defined) {
  display: block;
}

hex-dialog:not(:defined) {
  display: none;
}

hex-alert:not(:defined),
hex-autocomplete:not(:defined),
hex-avatar:not(:defined),
hex-button:not(:defined),
hex-card:not(:defined),
hex-checkbox:not(:defined),
hex-chexagon:not(:defined),
hex-chip:not(:defined),
hex-code:not(:defined),
hex-divider:not(:defined),
hex-icon:not(:defined),
hex-input:not(:defined),
hex-kbd:not(:defined),
hex-listbox:not(:defined),
hex-logo:not(:defined),
hex-menu-item:not(:defined),
hex-option:not(:defined),
hex-page:not(:defined),
hex-prose:not(:defined),
hex-quote:not(:defined),
hex-radio:not(:defined),
hex-radio-group:not(:defined),
hex-section:not(:defined),
hex-select:not(:defined),
hex-skeleton:not(:defined),
hex-spinner:not(:defined),
hex-spoiler:not(:defined),
hex-status-pill:not(:defined),
hex-switch:not(:defined),
hex-tag:not(:defined),
hex-textarea:not(:defined),
hex-username:not(:defined) {
  visibility: hidden;
}

hex-alert:not(:defined) {
  min-height: 52px;
}
hex-avatar:not(:defined) {
  width: 36px;
  height: 36px;
}
hex-button:not(:defined) {
  min-height: 31px;
}
hex-card:not(:defined) {
  min-height: 48px;
}
hex-checkbox:not(:defined) {
  min-height: 24px;
}
hex-chexagon:not(:defined) {
  width: 18px;
  height: 18px;
}
hex-chip:not(:defined) {
  min-height: 24px;
}
hex-code:not(:defined) {
  min-height: 14px;
}
hex-divider:not(:defined) {
  min-height: 1px;
}
hex-icon:not(:defined) {
  width: 16px;
  height: 16px;
}
hex-autocomplete:not(:defined) {
  min-height: 36px;
}
hex-input:not(:defined) {
  min-height: 36px;
}
hex-listbox:not(:defined) {
  min-height: 8px;
}
hex-option:not(:defined) {
  min-height: 31.5px;
}
hex-kbd:not(:defined) {
  min-height: 20.19px;
}
hex-logo:not(:defined) {
  min-height: 42.66px;
}
hex-menu-item:not(:defined) {
  min-height: 31.5px;
}
hex-quote:not(:defined) {
  min-height: 24px;
}
hex-radio:not(:defined) {
  min-height: 24px;
}
hex-section:not(:defined) {
  min-height: 35px;
}
hex-select:not(:defined) {
  min-height: 36px;
}
hex-skeleton:not(:defined) {
  min-height: 16px;
}
hex-spinner:not(:defined) {
  width: 16px;
  height: 16px;
}
hex-spoiler:not(:defined) {
  min-height: 18px;
}
hex-status-pill:not(:defined) {
  min-height: 17px;
}
hex-switch:not(:defined) {
  min-height: 24px;
}
hex-tag:not(:defined) {
  min-height: 22px;
}
hex-textarea:not(:defined) {
  min-height: 164px;
}
hex-username:not(:defined) {
  min-height: 19.5px;
}

hex-button[size="sm"]:not(:defined) {
  min-height: 25px;
}

hex-button[size="lg"]:not(:defined) {
  min-height: 36px;
}

hex-button[variant="raised"]:not(:defined) {
  margin-bottom: 4px;
}

hex-button[full]:not(:defined) {
  display: flex;
  width: 100%;
}

hex-avatar[size="xs"]:not(:defined) {
  width: 20px;
  height: 20px;
}

hex-avatar[size="sm"]:not(:defined) {
  width: 28px;
  height: 28px;
}

hex-avatar[size="lg"]:not(:defined) {
  width: 48px;
  height: 48px;
}

hex-avatar[size="xl"]:not(:defined) {
  width: 64px;
  height: 64px;
}

hex-divider[orientation="vertical"]:not(:defined) {
  min-height: 0;
  width: 1px;
}

hex-autocomplete[label]:not(:defined),
hex-input[label]:not(:defined),
hex-select[label]:not(:defined) {
  min-height: 57.5px;
}

hex-autocomplete[hint]:not(:defined),
hex-input[hint]:not(:defined) {
  min-height: 56.5px;
}

hex-autocomplete[label][hint]:not(:defined),
hex-autocomplete[label][error]:not(:defined),
hex-input[label][hint]:not(:defined),
hex-input[label][error]:not(:defined),
hex-select[label][hint]:not(:defined),
hex-select[label][error]:not(:defined) {
  min-height: 78px;
}

hex-textarea[label]:not(:defined) {
  min-height: 185.5px;
}

hex-textarea[label][counter]:not(:defined) {
  min-height: 202px;
}
