hex-alert:not(:defined) {
  display: block;
  visibility: hidden;
  min-height: 52px;
  padding: 12px 16px;
}

hex-autocomplete:not(:defined) {
  display: block;
  visibility: hidden;
  min-height: 34px;
}

hex-autocomplete[label]:not(:defined) {
  min-height: 55.5px;
}

hex-autocomplete[hint]:not(:defined) {
  min-height: 54.5px;
}

hex-autocomplete[label][hint]:not(:defined) {
  min-height: 76px;
}

hex-autocomplete[label][error]:not(:defined) {
  min-height: 76px;
}

hex-autocomplete[size="sm"]:not(:defined) {
  min-height: 29px;
}

hex-autocomplete[size="sm"][label]:not(:defined) {
  min-height: 50.5px;
}

hex-autocomplete[size="sm"][hint]:not(:defined) {
  min-height: 49.5px;
}

hex-autocomplete[size="sm"][label][error]:not(:defined) {
  min-height: 71px;
}

hex-autocomplete[size="sm"][label][hint]:not(:defined) {
  min-height: 71px;
}

hex-autocomplete[size="lg"]:not(:defined) {
  min-height: 41px;
}

hex-autocomplete[size="lg"][label]:not(:defined) {
  min-height: 62.5px;
}

hex-autocomplete[size="lg"][hint]:not(:defined) {
  min-height: 61.5px;
}

hex-autocomplete[size="lg"][label][error]:not(:defined) {
  min-height: 83px;
}

hex-autocomplete[size="lg"][label][hint]:not(:defined) {
  min-height: 83px;
}

hex-avatar:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
  visibility: hidden;
  width: 36px;
  height: 36px;
}

hex-avatar[size="xs"]:not(:defined) {
  width: 20px;
  height: 20px;
}

hex-avatar[size="sm"]:not(:defined) {
  width: 28px;
  height: 28px;
}

hex-avatar[size="lg"]:not(:defined) {
  width: 48px;
  height: 48px;
}

hex-avatar[size="xl"]:not(:defined) {
  width: 64px;
  height: 64px;
}

hex-button:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
  visibility: hidden;
  min-height: 34px;
}

hex-button[size="sm"]:not(:defined) {
  min-height: 29px;
}

hex-button[size="lg"]:not(:defined) {
  min-height: 41px;
}

hex-button[full]:not(:defined) {
  display: flex;
  width: 100%;
}

hex-card:not(:defined) {
  display: block;
  visibility: hidden;
  min-height: 48px;
  padding: 24px;
}

hex-card[dense]:not(:defined) {
  padding: 16px;
}

hex-checkbox:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
  visibility: hidden;
  min-height: 24px;
}

hex-chexagon:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
  visibility: hidden;
  width: 18px;
  height: 18px;
}

hex-chip:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
  visibility: hidden;
  min-height: 24px;
}

hex-code:not(:defined) {
  visibility: hidden;
  display: inline;
  font-family: "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 12px;
  padding: 1px 6px;
  border: 1px solid transparent;
}

hex-dialog:not(:defined) {
  display: none;
}

hex-divider:not(:defined) {
  display: block;
  visibility: hidden;
  min-height: 1px;
}

hex-divider[orientation="vertical"]:not(:defined) {
  min-height: 0;
  width: 1px;
}

hex-icon:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
  visibility: hidden;
  width: 16px;
  height: 16px;
}

hex-input:not(:defined) {
  display: block;
  visibility: hidden;
  min-height: 34px;
}

hex-input[label]:not(:defined) {
  min-height: 55.5px;
}

hex-input[hint]:not(:defined) {
  min-height: 54.5px;
}

hex-input[label][hint]:not(:defined) {
  min-height: 76px;
}

hex-input[label][error]:not(:defined) {
  min-height: 76px;
}

hex-input[size="sm"]:not(:defined) {
  min-height: 29px;
}

hex-input[size="sm"][label]:not(:defined) {
  min-height: 50.5px;
}

hex-input[size="sm"][hint]:not(:defined) {
  min-height: 49.5px;
}

hex-input[size="sm"][label][error]:not(:defined) {
  min-height: 71px;
}

hex-input[size="sm"][label][hint]:not(:defined) {
  min-height: 71px;
}

hex-input[size="lg"]:not(:defined) {
  min-height: 41px;
}

hex-input[size="lg"][label]:not(:defined) {
  min-height: 62.5px;
}

hex-input[size="lg"][hint]:not(:defined) {
  min-height: 61.5px;
}

hex-input[size="lg"][label][error]:not(:defined) {
  min-height: 83px;
}

hex-input[size="lg"][label][hint]:not(:defined) {
  min-height: 83px;
}

hex-kbd:not(:defined) {
  visibility: hidden;
  min-height: 20.19px;
  display: inline-block;
  vertical-align: baseline;
}

hex-listbox:not(:defined) {
  display: block;
  visibility: hidden;
  min-height: 8px;
  padding: 4px 0;
}

hex-logo:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
  visibility: hidden;
  min-height: 42.66px;
}

hex-markup:not(:defined) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  visibility: hidden;
}

hex-menu-item:not(:defined) {
  display: block;
  visibility: hidden;
  min-height: 31.5px;
}

hex-option:not(:defined) {
  display: block;
  visibility: hidden;
  min-height: 31.5px;
}

hex-page:not(:defined) {
  display: block;
  min-height: 100vh;
  visibility: hidden;
}

hex-quote:not(:defined) {
  display: block;
  visibility: hidden;
  min-height: 24px;
  padding: 12px 14px;
}

hex-radio:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
  visibility: hidden;
  min-height: 24px;
}

hex-radio-group:not(:defined) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  visibility: hidden;
}

hex-radio-group[direction="horizontal"]:not(:defined) {
  flex-direction: row;
  gap: 16px;
}

hex-radio-group[label]:not(:defined) {
  padding-top: 24.5px;
}

hex-section:not(:defined) {
  display: block;
  visibility: hidden;
  min-height: 35px;
}

hex-select:not(:defined) {
  display: block;
  visibility: hidden;
  min-height: 34px;
}

hex-select[label]:not(:defined) {
  min-height: 55.5px;
}

hex-select[label][hint]:not(:defined) {
  min-height: 76px;
}

hex-select[label][error]:not(:defined) {
  min-height: 76px;
}

hex-select[size="sm"]:not(:defined) {
  min-height: 29px;
}

hex-select[size="sm"][label]:not(:defined) {
  min-height: 50.5px;
}

hex-select[size="sm"][hint]:not(:defined) {
  min-height: 49.5px;
}

hex-select[size="sm"][label][error]:not(:defined) {
  min-height: 71px;
}

hex-select[size="sm"][label][hint]:not(:defined) {
  min-height: 71px;
}

hex-select[size="lg"]:not(:defined) {
  min-height: 41px;
}

hex-select[size="lg"][label]:not(:defined) {
  min-height: 62.5px;
}

hex-select[size="lg"][hint]:not(:defined) {
  min-height: 61.5px;
}

hex-select[size="lg"][label][error]:not(:defined) {
  min-height: 83px;
}

hex-select[size="lg"][label][hint]:not(:defined) {
  min-height: 83px;
}

hex-skeleton:not(:defined) {
  display: block;
  visibility: hidden;
  min-height: 16px;
}

hex-spinner:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
  visibility: hidden;
  width: 16px;
  height: 16px;
}

hex-spoiler:not(:defined) {
  visibility: hidden;
  display: inline;
}

hex-status-pill:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
  visibility: hidden;
  min-height: 17px;
}

hex-switch:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
  visibility: hidden;
  min-height: 24px;
}

hex-tag:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
  visibility: hidden;
  min-height: 22px;
}

hex-tag[variant="row"]:not(:defined) {
  display: flex;
  width: fit-content;
}

hex-textarea:not(:defined) {
  display: block;
  visibility: hidden;
  min-height: 114px;
}

hex-textarea[label]:not(:defined) {
  min-height: 135.5px;
}

hex-textarea[hint]:not(:defined) {
  min-height: 134.5px;
}

hex-textarea[label][hint]:not(:defined) {
  min-height: 156px;
}

hex-textarea[label][error]:not(:defined) {
  min-height: 156px;
}

hex-textarea[counter]:not(:defined) {
  min-height: 134.5px;
}

hex-textarea[label][counter]:not(:defined) {
  min-height: 156px;
}

hex-textarea[size="sm"]:not(:defined) {
  min-height: 104px;
}

hex-textarea[size="sm"][label]:not(:defined) {
  min-height: 125.5px;
}

hex-textarea[size="sm"][hint]:not(:defined) {
  min-height: 124.5px;
}

hex-textarea[size="sm"][label][hint]:not(:defined) {
  min-height: 146px;
}

hex-textarea[size="sm"][label][error]:not(:defined) {
  min-height: 146px;
}

hex-textarea[size="sm"][counter]:not(:defined) {
  min-height: 124.5px;
}

hex-textarea[size="sm"][label][counter]:not(:defined) {
  min-height: 146px;
}

hex-textarea[size="lg"]:not(:defined) {
  min-height: 136px;
}

hex-textarea[size="lg"][label]:not(:defined) {
  min-height: 157.5px;
}

hex-textarea[size="lg"][hint]:not(:defined) {
  min-height: 156.5px;
}

hex-textarea[size="lg"][label][hint]:not(:defined) {
  min-height: 178px;
}

hex-textarea[size="lg"][label][error]:not(:defined) {
  min-height: 178px;
}

hex-textarea[size="lg"][counter]:not(:defined) {
  min-height: 156.5px;
}

hex-textarea[size="lg"][label][counter]:not(:defined) {
  min-height: 178px;
}

hex-username:not(:defined) {
  display: inline-flex;
  vertical-align: middle;
  visibility: hidden;
  min-height: 19.5px;
}
